.title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.btnBlack {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.btnBlackStandard {
  font-size: 0.875rem;
  font-weight: 500;
}
