@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";
@import "./theme.css";
@import "./base.css";

:root {
  --color-success: #10B981;
}

.Toastify__toast--success {
  background-color: white !important;
  color: var(--color-primary) !important;
  border-left: 4px solid var(--color-primary) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-weight: 500;
}
.Toastify__toast--success .Toastify__toast-icon svg path {
  stroke: var(--color-primary) !important;
  fill: var(--color-primary) !important;
}

.Toastify__close-button {
  color: var(--color-primary) !important;
  opacity: 1;
}

.Toastify__progress-bar--success {
  background: var(--color-primary) !important;
}